.inputBox {
  width: 100%;
  position: relative;
  display: flex;

  &.hasIcon {
    .input {
      padding-right: 50px;
    }
  }
  
  .input {
    width: 100%;
    appearance: none;
    border: none;
    margin: 0;
    padding:12px;
    padding-right: 60px;
  }
  .iconContainer {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
