.weather {
  .mainWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .tempText {
    font-size: 5rem;
  }
  .minMaxMainTempWrapper {
    font-size: 1.2rem;

    > div {
      padding-top: 12px;
    }
  }

  .spinnerContainer {
    display: flex;
    justify-content: center;
    width: 100%;

  }

  @media (max-width: 767px) {
    .mainWrapper {
      flex-direction: column;
      margin: 16px 0;
    }
    .mainLeftColumn {
      order: 2;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .mainRightColumn {
      order: 1;
    }

    .minMaxMainTempWrapper {
      text-align: center;
    }
  }

}
