@import "~/src/styles/colors";
.iconButton {
  background-color: transparent;
  border: 0;
  padding: 12px;
  margin: 0;
  appearance: none;
  cursor: pointer;
  color: $color-black;

  &:hover {
    color: $color-gray;
  }
}
